<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
	<listeners>
		<listener class-name="com.odoo.automation.utility.ListenerSetUp"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.odoo.automation.testLayer.Login"/>
      <class name="com.odoo.automation.testLayer.ContactUs"/>
      <class name="com.odoo.automation.testLayer.EnquiryForm"/>
      <class name="com.odoo.automation.testLayer.Shopping"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- RegressionSuite -->
